<header class="header">
  <div class="container">
    <div class="header__inner">
      <h1 class="header-logo">Company</h1>
      <nav class="header-menu">
        <a href="/">Home</a>
        <a href="/products/">Products</a>
        <a href="/contacts/">Contacts</a>
      </nav>
      <div class="header-info">
        <a href="tel:+37122222222"><i class="bi bi-telephone"></i>+37122222222</a>
        <a href="mailto:example@gmail.com"><i class="bi bi-envelope"></i>example@gmail.com</a>
      </div>
      <i onclick="openMenu()" class="bi bi-list mobileMenuOpener"></i>
      <div class="mobile">
        <i onclick="closeMenu()" class="bi bi-x-lg close"></i>
        <h3>Company name</h3>
        <nav class="header-menu">
          <a href="/">Home</a>
          <a href="/products/">Products</a>
          <a href="/contacts/">Contacts</a>
        </nav>
        <div class="header-info">
          <a href="tel:+37122222222"><i class="bi bi-telephone"></i>+37122222222</a>
          <a href="mailto:example@gmail.com"><i class="bi bi-envelope"></i>example@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</header>