{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="intro main-content" style="background-image: url('{{ company_info.intro_img.url }}');">
  <div class="container">
    <div class="intro__inner">
      <h3>{% trans "Добро пожаловать!" %}</h3>
      <p>{% trans "На нашем сайте вы можете ознакомиться с продукцией, которую мы продаем." %}</p>
      <div class="btns">
        <a href="products/">{% trans "Наши товары" %}</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}