{% extends "main.html" %}
{% load static %}

{% block content %}
<div class="product-detail main-content">
  <div class="container">
    <h2 class="section-title">{{ product.name }}</h2>
    
    <div class="product-detail__inner">
      <div class="product-detail__image">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
            <img src="{% static 'images/default.jpg' %}" alt="{{ product.name }}">
        {% endif %}
      </div>

      <div class="product-detail__info">
        <p><strong>Описание:</strong> {{ product.description }}</p>
        <p><strong>Цена:</strong> {{ product.price }} евро</p>
        <p><strong>Доступность:</strong> {{ product.available|yesno:"Доступен,Недоступен" }}</p>
        
        {% if product.available %}
        {% else %}
        <p class="text-danger">Товар недоступен</p>
        {% endif %}
        
        <a href="{% url 'products' %}" class="btn btn-secondary">Вернуться к товарам</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
