{% extends "main.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="products main-content">
  <div class="container">
    <h2 class="section-title">{% trans "Наши товары" %}</h2>
    <div class="products__inner">
      {% for product in products %}
          <div title="{{ product.name }}" class="product-item" onclick="openModal({{ product.id }})">
              <h3>{{ product.name|truncatechars:30 }}</h3>
              {% if product.image %}
                  <img src="{{ product.image.url }}" alt="{{ product.name }}">
              {% else %}
                  <img src="{% static 'images/default.jpg' %}" alt="{{ product.name }}">
              {% endif %}
              <p>{{ product.description|truncatechars:100 }}</p>
              <p><strong>{% trans "Цена:" %}</strong> {{ product.price }} {% trans "евро" %}</p>
          </div>
          <div id="modal-{{ product.id }}" class="product-modal closed">
            <div class="container">
              <div class="product-modal__content">
                <i class="bi bi-x-lg close" onclick="closeModal({{ product.id }})"></i>
                  {% if product.image %}
                      <img src="{{ product.image.url }}" alt="{{ product.name }}">
                  {% else %}
                      <img src="{% static 'images/default.jpg' %}" alt="{{ product.name }}">
                  {% endif %}
                  <div class="modal__info">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <p><strong>{% trans "Цена:" %}</strong> {{ product.price }} {% trans "евро" %}</p>
                  </div>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

  <script>
  function openModal(productId) {
    let modal = document.getElementById('modal-' + productId);
    modal.classList.remove('closed');
    document.body.style.overflow = 'hidden';
  }

  function closeModal(productId) {
    let modal = document.getElementById('modal-' + productId);
    modal.classList.add('closed');
    document.body.style.overflow = '';
  }

  window.onload = function() {
    var items = document.querySelectorAll('.product-item');
    var maxHeight = 0;

    items.forEach(function(item) {
      var itemHeight = item.offsetHeight;
      if (itemHeight > maxHeight) {
        maxHeight = itemHeight;
      }
    });

    items.forEach(function(item) {
      item.style.height = maxHeight + 'px';
    });
  };
  
  </script>

{% endblock %}
