{% extends "main.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="products main-content">
  <div class="container">
    <h2 class="section-title">{% trans "Наши товары" %}</h2>
    <div class="products__inner">
      {% for product in products %}
      <div title="{% if LANGUAGE_CODE == 'lv' %}{{ product.name_lv }}{% else %}{{ product.name }}{% endif %}" class="product-item {% if not product.available %}sold{% endif %}" onclick="openModal({{ product.id }})">
          <h3>
              {% if LANGUAGE_CODE == 'lv' %}
                  {{ product.name_lv|truncatechars:30 }}
              {% else %}
                  {{ product.name|truncatechars:30 }}
              {% endif %}
          </h3>
          {% if product.image %}
              <img src="{{ product.image.url }}" alt="{% if LANGUAGE_CODE == 'lv' %}{{ product.name_lv }}{% else %}{{ product.name }}{% endif %}" loading="lazy">
          {% else %}
              <img src="{% static 'images/default.jpg' %}" alt="{% if LANGUAGE_CODE == 'lv' %}{{ product.name_lv }}{% else %}{{ product.name }}{% endif %}" loading="lazy">
          {% endif %}
          <div class="discount">-{{ product.discount }}%</div>
          <p>
              {% if LANGUAGE_CODE == 'lv' %}
                  {{ product.description_lv|truncatechars:100 }}
              {% else %}
                  {{ product.description|truncatechars:100 }}
              {% endif %}
          </p>
          <p class="initialPrice">{{ product.startPrice }} &euro;</p>
          <p><strong>{% trans "Цена:" %}</strong> {{ product.price }} &euro;</p>
      </div>
      <div id="modal-{{ product.id }}" class="product-modal closed">
          <div class="container">
              <div class="product-modal__content">
                  <i class="bi bi-x-lg close" onclick="closeModal({{ product.id }})"></i>
                  {% if product.image %}
                      <img src="{{ product.image.url }}" alt="{% if LANGUAGE_CODE == 'lv' %}{{ product.name_lv }}{% else %}{{ product.name }}{% endif %}" loading="lazy">
                  {% else %}
                      <img src="{% static 'images/default.jpg' %}" alt="{% if LANGUAGE_CODE == 'lv' %}{{ product.name_lv }}{% else %}{{ product.name }}{% endif %}" loading="lazy">
                  {% endif %}
                  <div class="modal__info">
                      <h3>
                          {% if LANGUAGE_CODE == 'lv' %}
                              {{ product.name_lv }}
                          {% else %}
                              {{ product.name }}
                          {% endif %}
                      </h3>
                      <p>
                          {% if LANGUAGE_CODE == 'lv' %}
                              {{ product.description_lv }}
                          {% else %}
                              {{ product.description }}
                          {% endif %}
                      </p>
                      <p class="initialPrice">{{ product.startPrice }} &euro;</p>
                      <p><strong>{% trans "Цена:" %}</strong> {{ product.price }} &euro;</p>
                  </div>
              </div>
          </div>
      </div>
  {% endfor %}
    </div>
  </div>
</div>

  <script>
  function openModal(productId) {
    let modal = document.getElementById('modal-' + productId);
    modal.classList.remove('closed');
    document.body.style.overflow = 'hidden';
  }

  function closeModal(productId) {
    let modal = document.getElementById('modal-' + productId);
    modal.classList.add('closed');
    document.body.style.overflow = '';
  }

  window.onload = function() {
    var items = document.querySelectorAll('.product-item');
    var maxHeight = 0;

    items.forEach(function(item) {
      var itemHeight = item.offsetHeight;
      if (itemHeight > maxHeight) {
        maxHeight = itemHeight;
      }
    });

    items.forEach(function(item) {
      item.style.height = maxHeight + 'px';
    });
  };
  
  </script>

{% endblock %}
